<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Spring Boot Form Demo</title>
</head>
<body>
	<div align="center">
		<h1>Home</h1>
		<form id="uploadForm" method="post" th:action="@{/files/upload}" enctype="multipart/form-data">
		    <input id="input-file" type="file" name="file" />
		    <button class="btn btn-sm btn-outline-success float-right" type="submit">
		      Upload
		    </button>
		</form>
		<br>
		<a href="/view/upload">Click here to view</a>
	</div>
</body>
</html>